<div class="container">
  <form>
    <%= form_tag root_path, :method => 'get' do %>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <%= text_field_tag :search, params[:search],  class: 'form-control' %>
          </div>
          <div class="col-4">
            <%= submit_tag "検索", :name => nil, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </form>
</div>